USE [master]
GO
/****** Object:  Database [QL_thuvien]    Script Date: 12/20/2017 4:01:40 PM ******/
CREATE DATABASE [QL_thuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
ALTER DATABASE [QL_thuvien] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_thuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_thuvien]
GO
/****** Object:  StoredProcedure [dbo].[usp_AD_Add_LDG]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_AD_Add_LDG] @MaLoaiDG char(10), @SoNgayMuonToiDa int, @SoSachMuonToiDa int, @TenLoaiDG nvarchar(50), @PhiThuongNien int, @TaiLieuDB bit
as
begin
	if not exists(select * from [LOAI DOC GIA] where MaLoaiDG = @MaLoaiDG)
	begin
		insert into [LOAI DOC GIA]
		values(@MaLoaiDG, @SoNgayMuonToiDa, @SoSachMuonToiDa, @TenLoaiDG, @PhiThuongNien, @TaiLieuDB)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_AD_UP_LDG]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_AD_UP_LDG] @MaLoaiDG char(10), @SoNgayMuonToiDa int, @SoSachMuonToiDa int, @TenLoaiDG nvarchar(50), @PhiThuongNien int, @TaiLieuDB bit
as
begin
	if exists (select * from [LOAI DOC GIA] where MaLoaiDG = @MaLoaiDG)
	begin
		update [LOAI DOC GIA]
		set SoNgayMuonToiDa = @SoNgayMuonToiDa, SoSachMuonToiDa = @SoSachMuonToiDa, TenLoaiDG = @TenLoaiDG, PhiThuongNien= @PhiThuongNien, TaiKieuDB = @TaiLieuDB
		where MaLoaiDG= @MaLoaiDG
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_CapNhatDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_CapNhatDocGia] @MaDG nvarchar(10), @TenDG nvarchar(40), @NgaySinhDG nvarchar(20), @DiaChiDG nvarchar(100), @SDTDG nvarchar(20), @EmailDG nvarchar(30), @CMNDDG nvarchar(20),@MSSVDG nvarchar(20), @MCBDG nvarchar(20), @LoaiDG nvarchar(20)
as
begin
	update [DOC GIA]
	set HoTen = @TenDG, NgaySinh = @NgaySinhDG, DiaChi = @DiaChiDG, Sdt = @SDTDG, Email = @EmailDG, CMND = @CMNDDG, MSSV = @MSSVDG, MCB = @MCBDG, LoaiDG = @LoaiDG
	where MaDocGia = @MaDG
end







GO
/****** Object:  StoredProcedure [dbo].[usp_CapNhatNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_CapNhatNhanVien] @MaNV nvarchar(10), @CaTruc nvarchar(40), @TenDangNhap nvarchar(20), @MatKhau nchar(200), @HoTen nvarchar(100), @LoaiNV nvarchar(20), @Result int out
as
begin
	set @Result = 0
	if not exists (Select * from [NHAN VIEN] where TenDangNhap = @TenDangNhap and MatKhau = @MatKhau)
	begin
		update [NHAN VIEN]
		set	CaTruc = @CaTruc, TenDangNhap = @TenDangNhap, MatKhau = @MatKhau, HoTen = @HoTen, LoaiNV = @LoaiNV
		where MaNV = @MaNV
		set @Result = 1
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_ChinhSuaPhieuTra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ChinhSuaPhieuTra] @MaCTPT char(10), @MaPhieuTra char(10), @MaPhieuMuon char(10), @MaTaiLieu char(10)
as
begin
	if exists (Select * from [CHI TIET PHIEU TRA] where MaCTPT = @MaCTPT)
	begin
		update [CHI TIET PHIEU TRA]
		set MaPhieuTra = @MaPhieuTra, MaPhieuMuon = @MaPhieuMuon, MaTaiLieu = @MaTaiLieu
		where MaCTPT = @MaCTPT
	end
end	


GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_DeleteTaiLieu] @MaTaiLieu nvarchar(50), @result int out
as
begin
	delete from [CHI TIET PHIEU TRA]
	where MaTaiLieu = @MaTaiLieu
	delete from [CHI TIET PHIEU MUON]
	where MaTaiLieu = @MaTaiLieu
	delete from [TAI LIEU]
	where MaTaiLieu = @MaTaiLieu
	set @result = 1
end
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_InsertTaiLieu] @TenTaiLieu nvarchar(50), @LoaiTaiLieu nvarchar(30), @SoLuong char(5)
as
begin
	Declare @MaTaiLieu char(20)
	exec usp_TimMaTLTiepTheo @MaTaiLieu out
	insert into [TAI LIEU]
	values( @MaTaiLieu, @TenTaiLieu, @LoaiTaiLieu, @SoLuong)
end




GO
/****** Object:  StoredProcedure [dbo].[usp_LayDanhSachDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayDanhSachDocGia]
as
begin
	Select MaDocGia, HoTen From [DOC GIA]
end


GO
/****** Object:  StoredProcedure [dbo].[usp_LayDanhSachTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_LayDanhSachTaiLieu]
as
begin
	select MaTaiLieu, TenTaiLieu from [TAI LIEU] where SoLuong > 0
end


GO
/****** Object:  StoredProcedure [dbo].[usp_LayMaNhanVienHienTai]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayMaNhanVienHienTai] @UserName char(40), @MaNV nvarchar(10) out
as
begin
	select @MaNV =  nv.MaNV
	from [NHAN VIEN] nv
	where nv.HoTen = @UserName
end







GO
/****** Object:  StoredProcedure [dbo].[usp_LayMaTLCuaPM]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayMaTLCuaPM] @MaPhieuMuon nchar(10)
as
begin
	select tl.MaTaiLieu, tl.TenTaiLieu from [PHIEU MUON] pm, [CHI TIET PHIEU MUON] ctpm, [TAI LIEU] tl
	where ctpm.MaPhieuMuon = pm.MaPhieuMuon and pm.MaPhieuMuon = @MaPhieuMuon and tl.MaTaiLieu = ctpm.MaTaiLieu
end






GO
/****** Object:  StoredProcedure [dbo].[usp_LayQuyenNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayQuyenNhanVien] @UserName char(40), @Pass nchar(200), @QuyenNV nvarchar(50) out
as
begin
	select @QuyenNV =  l.TenLoaiNV
	from [NHAN VIEN] nv, [LOAI NHANVIEN] l
	where nv.TenDangNhap = @UserName and nv.MatKhau = @Pass and l.MaLoaiNV = nv.LoaiNV
end








GO
/****** Object:  StoredProcedure [dbo].[usp_LaySoSachMuonToiDa]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LaySoSachMuonToiDa] @MaDocGia char (10), @Result int out
as
begin 
	select @Result = ldg.SoSachMuonToiDa from [DOC GIA] dg, [LOAI DOC GIA] ldg where dg.MaDocGia = @MaDocGia and dg.LoaiDG =  ldg.MaLoaiDG
end


GO
/****** Object:  StoredProcedure [dbo].[usp_LayTenNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayTenNhanVien] @UserName char(40), @Pass nchar(200), @TenNV nvarchar(50) out
as
begin
	select @TenNV =  nv.HoTen
	from [NHAN VIEN] nv
	where nv.TenDangNhap = @UserName and nv.MatKhau = @Pass
end







GO
/****** Object:  StoredProcedure [dbo].[usp_LoadLoaiDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LoadLoaiDocGia]
as
begin
	select * from [LOAI DOC GIA]
end

GO
/****** Object:  StoredProcedure [dbo].[usp_LoadMaPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LoadMaPhieuMuon]
as
begin
	select MaPhieuMuon from [PHIEU MUON]
end

if OBJECT_ID('usp_LoadMaTLCuaPM') is not null
drop proc usp_LoadMaTLCuaPM







GO
/****** Object:  StoredProcedure [dbo].[usp_LoadTheLoaiTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LoadTheLoaiTaiLieu]
as
begin
	select distinct LoaiTaiLieu from [TAI LIEU]
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Login] @username nchar(40), @password nchar(40), @result int out
as
begin
	if exists (select * from [NHAN VIEN]
	where TenDangNhap = @username and MatKhau = @password)
	begin
		Set @result = 1;
		update [NHAN VIEN]
		set LoginGanNhat = GETDATE()
		where TenDangNhap = @username and MatKhau = @password
	end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_SearchDocGia] @MaDG char(15)
 as
 begin
	select *
	from [DOC GIA]
	where MaDocGia = @MaDG
 end








GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPPTheoMaDG]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_SearchPPTheoMaDG] @MaDocGia char(10)
as
begin
	select pp.MaPhieuPhat, pp.MaNVLapPhieuPhat, pp.MaPhieuMuon, pp.SoSachQuaHan, pp.SoNgayQuaHan, pp.SoTienPhat from [PHIEU PHAT] pp, [PHIEU MUON] pm where pp.MaPhieuMuon = pm.MaPhieuMuon and pm.MaDocGia = @MaDocGia
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPPTheoMaPM]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchPPTheoMaPM] @MaPhieuMuon char(10)
as
begin
	select * from [PHIEU PHAT] where MaPhieuMuon = @MaPhieuMuon
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPPTheoMaPP]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchPPTheoMaPP] @MaPhieuPhat char(10)
as
begin
	select * from [PHIEU PHAT] where MaPhieuPhat = @MaPhieuPhat
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuMuonTheoMaDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_SearchPhieuMuonTheoMaDocGia] @MaDocGia char(10)
 as
 begin
	select *
	from [PHIEU MUON]
	where MaDocGia = @MaDocGia
 end







GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuMuonTheoMaPM]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_SearchPhieuMuonTheoMaPM] @MaPhieuMuon char(10)
 as
 begin
	select * from [PHIEU MUON] where MaPhieuMuon = @MaPhieuMuon
 end







GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuNN]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[usp_SearchPhieuNN] @MaDocGia char(10)
as
begin
	select * from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuTratheoMaDG]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[usp_SearchPhieuTratheoMaDG] @MaDocGia char(15)
 as
 begin
	select pt.MaPhieuTra, pt.MaNVLapPhieuTra
	from [PHIEU MUON] pm, [PHIEU TRA] pt, [CHI TIET PHIEU TRA]  ctpt
	where pm.MaPhieuMuon = ctpt.MaPhieuMuon and pt.MaPhieuTra = ctpt.MaPhieuTra and pm.MaDocGia = @MaDocGia
 end


GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuTratheoMaPM]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[usp_SearchPhieuTratheoMaPM] @Maphieumuon char(15)
 as
 begin
	select pt.MaPhieuTra, pt.MaNVLapPhieuTra
	from [CHI TIET PHIEU TRA] ctpt, [PHIEU TRA] pt
	where pt.MaPhieuTra = ctpt.MaPhieuTra and ctpt.MaPhieuMuon = @Maphieumuon
 end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchPhieuTratheoMaPT]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[usp_SearchPhieuTratheoMaPT] @Maphieutra char(15)
 as
 begin
	select *
	from  [PHIEU TRA] pt
	where pt.MaPhieuTra= @Maphieutra
 end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoLoai]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoLoai] @LoaiTaiLieu nvarchar(50)
as
begin
	select * from [TAI LIEU]
	where LoaiTaiLieu = @LoaiTaiLieu
end








GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoMa]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoMa] @MaTaiLieu char(15)
as
begin
	select * from [TAI LIEU]
	where MaTaiLieu = @MaTaiLieu
end








GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoTen]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoTen] @TenTaiLieu nvarchar(50)
as
begin
	select * from [TAI LIEU]
	where TenTaiLieu like '%' + @TenTaiLieu + '%'
end







GO
/****** Object:  StoredProcedure [dbo].[usp_SoLanViPham]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_SoLanViPham] @MaDocGia char(10), @SoLanViPham int out
as
begin
	set @SoLanViPham = 0
	if exists (Select * from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia)
	begin
		select @SoLanViPham = SoLanViPham from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_soTaiLieuMuonNhieuNhat]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_soTaiLieuMuonNhieuNhat]
as
begin
	SELECT 
  Top 10 tl.TenTaiLieu, ct.MaTaiLieu,tl.LoaiTaiLieu, COUNT(ct.MaTaiLieu) as 'SốLầnMượn' 
  FROM [CHI TIET PHIEU MUON] ct ,[TAI LIEU] tl
   where tl.MaTaiLieu = ct.MaTaiLieu
   GROUP BY 
   ct.MaTaiLieu ,tl.TenTaiLieu,tl.LoaiTaiLieu
   ORDER BY SốLầnMượn DESC
end

GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoCMND]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemDocGiaTheoCMND] @CMND char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
	where dg.CMND = @CMND
 end










GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoHoTen]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[usp_TimKiemDocGiaTheoHoTen] @HoTen nvarchar(100)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
	where dg.HoTen like '%' + @HoTen + '%'
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMaDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemDocGiaTheoMaDocGia] @MaDG char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
	where dg.MaDocGia = @MaDG
 end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMSCB]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemDocGiaTheoMSCB] @MSCB char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
	where dg.MCB = @MSCB
 end









GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMSSV]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemDocGiaTheoMSSV] @MSSV char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
	where dg.MSSV = @MSSV
 end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemTatCaDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemTatCaDocGia]
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG
	from [DOC GIA] dg
 end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaCTPTTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaCTPTTiepTheo] @MaCTPT nchar(10) out
as 
begin
declare @ctpt nchar(10)='CTPT001'
declare @idx int 
	set @idx = 1
	while exists (select MaPhieuTra from [PHIEU Tra] Where MaPhieuTra = @ctpt)
	begin
		set @idx = @idx + 1
		set @ctpt= 'CTPT' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @MaCTPT=@ctpt
end







GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaChiTietPhieuMuonTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaChiTietPhieuMuonTiepTheo] @MaCTPM nchar(10) out
as 
begin
	declare @mactpm1 nchar(10) = 'CTPM001'
	declare @idx int 
	set @idx = 1
	while exists (select MaCTPM from [CHI TIET PHIEU MUON] Where MaCTPM = @mactpm1)
	begin
		set @idx = @idx + 1
		set @mactpm1= 'CTPM' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @MaCTPM = @mactpm1
end


if OBJECT_ID('usp_ThemCTietPhieuMuon') is not null
 Drop proc usp_ThemCTietPhieuMuon







GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaDGTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaDGTiepTheo] @MaDocGia varchar(10) out
as
begin
	declare @MaDG nchar(10) = 'DG00001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaDocGia from [DOC GIA] Where MaDocGia = @MaDG)
	begin
		set @idx = @idx + 1
		set @MaDG = 'DG' + REPLICATE('0', 5 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaDocGia = @MaDG
end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaNVTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaNVTiepTheo] @MaNV varchar(10) out
as
begin
	declare @MaNhanVien nchar(10) = 'NV0001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaNV from [NHAN VIEN] Where MaNV = @MaNhanVien)
	begin
		set @idx = @idx + 1
		set @MaNhanVien = 'NV' + REPLICATE('0', 4 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaNV = @MaNhanVien
end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaPhieuMuonTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaPhieuMuonTiepTheo] @Maphieumuon nchar(10) out
as 
begin
declare @mapm nchar(10)='PM001'
declare @idx int 
	set @idx = 1
	while exists (select MaPhieuMuon from [PHIEU MUON] Where MaPhieuMuon = @Mapm)
	begin
		set @idx = @idx + 1
		set @Mapm= 'PM' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @Maphieumuon=@Mapm
end







GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaPhieuPhatTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaPhieuPhatTiepTheo] @MaPhieuPhat nchar(10) out
as 
begin
	declare @pp nchar(10)='PP001'
	declare @idx int 
	set @idx = 1
	while exists (select MaPhieuPhat from [PHIEU PHAT] Where MaPhieuPhat = @pp)
	begin
		set @idx = @idx + 1
		set @pp= 'PP' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @MaPhieuPhat= @pp
end



GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaPhieuTraTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaPhieuTraTiepTheo] @MaPhieuTra nchar(10) out
as 
begin
declare @mapt nchar(10)='PT001'
declare @idx int 
	set @idx = 1
	while exists (select MaPhieuTra from [PHIEU Tra] Where MaPhieuTra = @Mapt)
	begin
		set @idx = @idx + 1
		set @mapt= 'PT' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @MaPhieuTra=@Mapt
end








GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaTLTiepTheo]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaTLTiepTheo] @MaTaiLieu varchar(10) out
as
begin
	declare @MaTL nchar(10) = 'TL001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaTaiLieu from [TAI LIEU] Where MaTaiLieu = @MaTL)
	begin
		set @idx = @idx + 1
		set @MaTL = 'TL' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaTaiLieu = @MaTL
end







GO
/****** Object:  StoredProcedure [dbo].[usp_ThemChiTietPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemChiTietPhieuMuon] @MaCTPM char(10), @MaTaiLieu nchar(10), @MaPhieuMuon nchar(10)
as
begin
	insert into [CHI TIET PHIEU MUON]
	values(@MaCTPM,@MaTaiLieu , @MaPhieuMuon)
	update [TAI LIEU]
	set SoLuong -= 1
	where MaTaiLieu = @MaTaiLieu
end




GO
/****** Object:  StoredProcedure [dbo].[usp_ThemChiTietPhieuTra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemChiTietPhieuTra] @MaCTPT nchar(10), @MaPhieuTra nchar(10), @MaPhieuMuon nchar(10), @MaTaiLieu nchar(10)
as
begin
	if exists (select * from [PHIEU TRA] pt, [TAI LIEU] tl where pt.MaPhieuTra = @MaPhieuTra and tl.MaTaiLieu = @MaTaiLieu)
	begin
	insert into [CHI TIET PHIEU TRA]
	values(@MaCTPT, @MaPhieuTra, @MaPhieuMuon ,@MaTaiLieu)
	update [TAI LIEU]
	set SoLuong += 1
	where MaTaiLieu = @MaTaiLieu
	end
end




GO
/****** Object:  StoredProcedure [dbo].[usp_ThemDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemDocGia] @TenDG nvarchar(40), @NgaySinhDG nvarchar(20), @DiaChiDG nvarchar(100), @SDTDG nvarchar(20), @EmailDG nvarchar(30), @CMNDDG nvarchar(20),@MSSVDG nvarchar(20), @MCBDG nvarchar(20), @LoaiDG nvarchar(20)
as
begin
	Declare @MaDG nchar(10)
	exec usp_TimMaDGTiepTheo @MaDG out
	insert into [DOC GIA]
	values(@MaDG, @TenDG,@NgaySinhDG, @DiaChiDG, @SDTDG, @EmailDG, @CMNDDG, @MSSVDG, @CMNDDG, @LoaiDG)
end








GO
/****** Object:  StoredProcedure [dbo].[usp_ThemNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ThemNhanVien] @CaTruc nvarchar(40), @TenDangNhap nvarchar(20), @HoTen nvarchar(100), @MatKhau nchar(200), @LoaiNV nvarchar(20),@result int out
as
begin
	Declare @MaNV nchar(10)
	exec usp_TimMaNVTiepTheo @MaNV out
	if not exists (select * from  [NHAN VIEN] nv
	where nv.TenDangNhap = @TenDangNhap)
	begin
	insert into [NHAN VIEN]
	values(@MaNV, @CaTruc ,@TenDangNhap, @MatKhau, @HoTen, GETDATE(), @LoaiNV)
	end
	else
	begin
	set @result = 0;
	end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ThemPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ThemPhieuMuon] @MaNVLapPhieuMuon nchar(10), @MaDocGia nchar(10), @result int out
as
begin
	set @result = 0
	Declare @SoLanViPham int = 0
	if exists ( select * from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia)
	begin
		Select @SoLanViPham = pnn.SoLanViPham from [PHIEU NHAC NHO] pnn where pnn.MaDocGia = @MaDocGia
	end
	print @SoLanViPham
	if(@SoLanViPham < 5)
	begin
		Declare @Mapm nchar(10)
		exec usp_TimMaPhieuMuonTiepTheo @Mapm out
		insert into [PHIEU MUON]
		values(@Mapm,@MaNVLapPhieuMuon ,@MaDocGia,GETDATE())
		set @result = 1
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_ThemPhieuNhacNho]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ThemPhieuNhacNho] @MaDocGia char(10)
as
begin
	if exists (select * from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia)
	begin
		update [PHIEU NHAC NHO]
		set SoLanViPham += 1
		where MaDocGia = @MaDocGia
	end
	else
	begin
		insert into [PHIEU NHAC NHO]
		values(@MaDocGia, 1)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ThemPhieuPhat]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ThemPhieuPhat] @MaPhieuMuon nchar(10), @MaNVLapPhieuPhat nchar(10), @Result int out
as
begin
	set @Result = 0
	Declare @MaPP char(10)
	exec [usp_TimMaPhieuPhatTiepTheo] @MaPP out
	Declare @SoSachQuaHan int
	Declare @SoSachMuon int
	select @SoSachMuon = COUNT(ctpm.MaTaiLieu)
	from [CHI TIET PHIEU MUON] ctpm
	where ctpm.MaPhieuMuon = @MaPhieuMuon
	Declare @SoSachTra int
	select @SoSachTra = COUNT(ctpt.MaTaiLieu)
	from [CHI TIET PHIEU TRA] ctpt
	where ctpt.MaPhieuMuon = @MaPhieuMuon
	set @SoSachQuaHan = @SoSachMuon - @SoSachTra
	Declare @SoNgayQuaHan int
	select @SoNgayQuaHan = DATEDIFF(DAY, pm.NgayLapPhieuMuon, GETDATE()) - ldg.SoNgayMuonToiDa from [PHIEU MUON] pm , [DOC GIA] dg, [LOAI DOC GIA] ldg where pm.MaPhieuMuon = @MaPhieuMuon and pm.MaDocGia = dg.MaDocGia and dg.LoaiDG = ldg.MaLoaiDG
	
	Declare @SoTienPhat int
	Set @SoTienPhat = @SoNgayQuaHan * @SoSachQuaHan * 5000

	Declare @SoLanViPham int
	Select @SoLanViPham = pnn.SoLanViPham from [PHIEU NHAC NHO] pnn, [PHIEU MUON] pm, [DOC GIA] dg
	where pnn.MaDocGia = dg.MaDocGia and pm.MaDocGia = pnn.MaDocGia and pm.MaPhieuMuon = @MaPhieuMuon
	if(@SoNgayQuaHan > 0 and @SoLanViPham > 2 and @SoSachQuaHan > 0)
	begin
		insert into [PHIEU PHAT]
		values(@MaPP,  @MaNVLapPhieuPhat, @MaPhieuMuon, @SoSachQuaHan, @SoNgayQuaHan, @SoTienPhat)
		set @Result = 1
		update [PHIEU NHAC NHO]
		set SoLanViPham += 1
		where MaDocGia = (Select dg.MaDocGia from [PHIEU NHAC NHO] pnn, [PHIEU MUON] pm, [DOC GIA] dg
	where pnn.MaDocGia = dg.MaDocGia and pm.MaDocGia = pnn.MaDocGia and pm.MaPhieuMuon = @MaPhieuMuon)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ThemPhieuTra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemPhieuTra] @MaPhieuTra char(10), @MaNVLapPhieuTra nchar(10)
as
begin
	insert into [PHIEU TRA]
	values(@MaPhieuTra, @MaNVLapPhieuTra)
end




GO
/****** Object:  StoredProcedure [dbo].[usp_ThemYeuCauTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemYeuCauTaiLieu]  @TenTLYeuCau nvarchar(200), @result int out
as
begin
	set @result = 0
	if not exists(select * from [YEU CAU TAI LIEU] where TenTaiLieu = @TenTLYeuCau)
	begin
		declare @seed int = (select count(*) from [YEU CAU TAI LIEU])
		if (@seed = 1)
			set @seed = 1;
		else
			set @seed = @seed - 1;
		DBCC CHECKIDENT ([YEU CAU TAI LIEU], RESEED, @seed)	
		insert into [YEU CAU TAI LIEU] values(@TenTLYeuCau)
		set @result = 1
		
	end
end
--------------------------------------------======================================





GO
/****** Object:  StoredProcedure [dbo].[usp_UpdatePNN]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_UpdatePNN] @MaDocGia char(10), @SLVP int
as
begin
	if exists (select * from [PHIEU NHAC NHO] where MaDocGia = @MaDocGia)
	begin
		update [PHIEU NHAC NHO]
		set SoLanViPham = @SLVP
		where MaDocGia = @MaDocGia
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_UpdateTaiLieu] @MaTaiLieu char(20), @TenTaiLieu nvarchar(50), @LoaiTaiLieu nvarchar(30), @SoLuong char(5)
as
begin
	update [TAI LIEU]
	set TenTaiLieu = @TenTaiLieu, LoaiTaiLieu = @LoaiTaiLieu, SoLuong = @SoLuong
	where MaTaiLieu = @MaTaiLieu
end



GO
/****** Object:  StoredProcedure [dbo].[usp_XemAllTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemAllTaiLieu]
as
begin
	select * from [TAI LIEU]
end







GO
/****** Object:  StoredProcedure [dbo].[usp_XemCTPhieuTra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemCTPhieuTra] @MaPhieuTra nchar(10)
as
begin
	select * from [CHI TIET PHIEU TRA] where MaPhieuTra = @MaPhieuTra
end







GO
/****** Object:  StoredProcedure [dbo].[usp_xemChiTietPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_xemChiTietPhieuMuon] @MaPhieuMuon char(10)
as
begin
	select * from [CHI TIET PHIEU MUON] where MaPhieuMuon = @MaPhieuMuon
end







GO
/****** Object:  StoredProcedure [dbo].[usp_XemDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemDocGia]
as
begin
	select * from [DOC GIA]
end









GO
/****** Object:  StoredProcedure [dbo].[usp_XemNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_XemNhanVien]
as
begin
	select * from [NHAN VIEN]
end
GO
/****** Object:  StoredProcedure [dbo].[usp_xemPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_xemPhieuMuon]
as
begin
	select * from [PHIEU MUON]
end







GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuNhacNho]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuNhacNho]
as
begin
	select * from [PHIEU NHAC NHO]
end







GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuPhat]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuPhat]
as
begin
	select * from [PHIEU PHAT]
end
exec usp_XemPhieuPhat







GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuTra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuTra]
as
begin
	select * from [PHIEU TRA]
end







GO
/****** Object:  StoredProcedure [dbo].[usp_XemYeuCauTaiLieu]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemYeuCauTaiLieu]  
as
begin
	select * from [YEU CAU TAI LIEU]
end
--===============------------------------------





GO
/****** Object:  StoredProcedure [dbo].[usp_XoaDocGia]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_XoaDocGia] @MaDocGia char(10)
as
begin
	declare @MaPM char(10)
	declare @MaDG char(10)
	declare cur cursor
	for select MaPhieuMuon, MaDocGia from [PHIEU MUON] where MaDocGia = @MaDocGia
	open cur
	fetch next from cur into @MaPM, @MaDG
	while(@@FETCH_STATUS = 0)
	begin
		Declare @MaPHIEUTRA char(10)
		declare cur2 cursor
		for select distinct pt.MaPhieuTra from [PHIEU TRA] pt, [CHI TIET PHIEU TRA] ctpt where pt.MaPhieuTra = ctpt.MaPhieuTra and ctpt.MaPhieuMuon = @MaPM
		open cur2
		fetch next from cur2 into @MaPHIEUTRA
		
		while(@@FETCH_STATUS = 0)
		begin
			delete from [CHI TIET PHIEU TRA]
			where MaPhieuTra = @MaPHIEUTRA
			delete from [PHIEU TRA]
			where MaPhieuTra  = @MaPHIEUTRA
			fetch next from cur2 into @MaPHIEUTRA
		end
		close cur2
		deallocate cur2

		delete from [PHIEU NHAC NHO]
		where MaDocGia = @MaDG
		delete from [PHIEU PHAT]
		where MaPhieuMuon = @MaPM
		delete from [CHI TIET PHIEU MUON]
		where MaPhieuMuon = @MaPM
		delete from [PHIEU MUON]
		where MaPhieuMuon = @MaPM
		fetch next from cur into @MaPM, @MaDG
	end
	close cur
	deallocate cur
	delete from [PHIEU NHAC NHO]
	where MaDocGia = @MaDocGia
	delete from [DOC GIA]
	where MaDocGia = @MaDocGia
end
GO
/****** Object:  StoredProcedure [dbo].[usp_XoaNhanVien]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_XoaNhanVien] @MaNV nvarchar(50)
as
begin
	delete from [PHIEU PHAT]
	where MaNVLapPhieuPhat = @MaNV
	delete from [PHIEU TRA]
	where MaNVLapPhieuTra = @MaNV
	delete from [PHIEU MUON]
	where MaNVLapPhieuMuon = @MaNV
	delete from [NHAN VIEN]
	where MaNV = @MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[usp_XoaPhieuMuon]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[usp_XoaPhieuMuon] @MaPhieuMuon char(10)
 as
 begin
	delete from [PHIEU PHAT]
	where MaPhieuMuon= @MaPhieuMuon
	delete from [CHI TIET PHIEU TRA]
	where MaPhieuMuon= @MaPhieuMuon
	delete from [CHI TIET PHIEU MUON]
	where MaPhieuMuon= @MaPhieuMuon
	delete from [PHIEU MUON]
	where MaPhieuMuon= @MaPhieuMuon
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_XoaPhieuNhacNho]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XoaPhieuNhacNho] @MaDocGia char(10)
as
begin
	delete from [PHIEU NHAC NHO]
	where MaDocGia = @MaDocGia
end


GO
/****** Object:  StoredProcedure [dbo].[usp_XoaPhieuPhat]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XoaPhieuPhat] @MaPhieuPhat char(10)
as
begin
	delete from [PHIEU PHAT]
	where MaPhieuPhat = @MaPhieuPhat
end



GO
/****** Object:  StoredProcedure [dbo].[usp_Xoaphieutra]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_Xoaphieutra] @Maphieutra char(15)
 as
 begin
	delete from [CHI TIET PHIEU TRA]
	where MaPhieuTra= @Maphieutra
	delete from [PHIEU TRA] 
	where MaPhieuTra= @Maphieutra
 end








GO
/****** Object:  StoredProcedure [dbo].[usp_XoaYeuCauTaiLieuMoi]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XoaYeuCauTaiLieuMoi]  @TenTLYeuCau nvarchar(200)
as
begin		
	delete from [YEU CAU TAI LIEU] where TenTaiLieu = @TenTLYeuCau
	declare @seed int = (select count(*) from [YEU CAU TAI LIEU])
	if (@seed = 1)
		set @seed = 1;
	else
		set @seed = @seed - 1;
	DBCC CHECKIDENT ([YEU CAU TAI LIEU], RESEED, @seed)	
end





GO
/****** Object:  Table [dbo].[CHI TIET PHIEU MUON]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIET PHIEU MUON](
	[MaCTPM] [nchar](10) NOT NULL,
	[MaTaiLieu] [nchar](10) NOT NULL,
	[MaPhieuMuon] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHI TIET PHIEU MUON] PRIMARY KEY CLUSTERED 
(
	[MaCTPM] ASC,
	[MaTaiLieu] ASC,
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI TIET PHIEU TRA]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIET PHIEU TRA](
	[MaCTPT] [nchar](10) NOT NULL,
	[MaPhieuTra] [nchar](10) NOT NULL,
	[MaPhieuMuon] [nchar](10) NOT NULL,
	[MaTaiLieu] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHI TIET PHIEU TRA] PRIMARY KEY CLUSTERED 
(
	[MaCTPT] ASC,
	[MaPhieuTra] ASC,
	[MaPhieuMuon] ASC,
	[MaTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOC GIA]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC GIA](
	[MaDocGia] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Sdt] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[CMND] [nchar](12) NULL,
	[MSSV] [nchar](10) NULL,
	[MCB] [nchar](10) NULL,
	[LoaiDG] [nchar](10) NULL,
 CONSTRAINT [PK_DOC GIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI DOC GIA]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI DOC GIA](
	[MaLoaiDG] [nchar](10) NOT NULL,
	[SoNgayMuonToiDa] [int] NULL,
	[SoSachMuonToiDa] [int] NULL,
	[TenLoaiDG] [nvarchar](50) NULL,
	[PhiThuongNien] [int] NULL,
	[TaiKieuDB] [bit] NULL,
 CONSTRAINT [PK_LOAI DOC GIA] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI NHANVIEN]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI NHANVIEN](
	[MaLoaiNV] [nchar](10) NOT NULL,
	[TenLoaiNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN REMEMBER]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN REMEMBER](
	[Username] [nchar](30) NOT NULL,
	[Password] [nchar](30) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN VIEN]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN VIEN](
	[MaNV] [nchar](10) NOT NULL,
	[CaTruc] [int] NULL,
	[TenDangNhap] [nchar](10) NULL,
	[MatKhau] [nchar](200) NULL,
	[HoTen] [nvarchar](50) NULL,
	[LoginGanNhat] [date] NULL,
	[LoaiNV] [nchar](10) NULL,
 CONSTRAINT [PK_NHAN VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP TAI LIEU]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP TAI LIEU](
	[MaTLNhap] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_NHAP TAI LIEU_1] PRIMARY KEY CLUSTERED 
(
	[MaTLNhap] ASC,
	[NgayNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU MUON]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU MUON](
	[MaPhieuMuon] [nchar](10) NOT NULL,
	[MaNVLapPhieuMuon] [nchar](10) NULL,
	[MaDocGia] [nchar](10) NULL,
	[NgayLapPhieuMuon] [date] NULL,
 CONSTRAINT [PK_PHIEU MUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU NHAC NHO]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU NHAC NHO](
	[MaDocGia] [nchar](10) NOT NULL,
	[SoLanViPham] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU PHAT]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU PHAT](
	[MaPhieuPhat] [nchar](10) NOT NULL,
	[MaNVLapPhieuPhat] [nchar](10) NULL,
	[MaPhieuMuon] [nchar](10) NULL,
	[SoSachQuaHan] [int] NULL,
	[SoNgayQuaHan] [int] NULL,
	[SoTienPhat] [int] NULL,
 CONSTRAINT [PK_PHIEU PHAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU TRA]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU TRA](
	[MaPhieuTra] [nchar](10) NOT NULL,
	[MaNVLapPhieuTra] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEU TRA_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI LIEU]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI LIEU](
	[MaTaiLieu] [nchar](10) NOT NULL,
	[TenTaiLieu] [nvarchar](200) NULL,
	[LoaiTaiLieu] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YEU CAU TAI LIEU]    Script Date: 12/20/2017 4:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEU CAU TAI LIEU](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiLieu] [nvarchar](200) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00001   ', N'NGUYỄN THỊ THÚY KIỀU
', CAST(0xFA1C0B00 AS Date), N'241/213 LÍ THÁI TỔ, Q3, TP HCM', N'01649824548
       ', N'thuykieu@gmail.com', N'023177128
 ', N'1560286
 ', NULL, N'SV        ')
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00003   ', N'HOÀNG ĐÌNH TUẤN KIỆT
', CAST(0x50170B00 AS Date), N'12/42 NGUYỄN VĂN CỪ,Q5,TPHCM', N'0908420792
        ', N'tuankiet1@gmail.com', N'250533628
 ', N'1560288   ', NULL, N'SV        ')
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00004   ', N'NGUYỄN TUẤN KIỆT
', CAST(0xEF1E0B00 AS Date), N'317 đường Tây Thanh, Q. Tân Phú tp HCM
', N'01666646895
       ', N'ngkiet@gmail.com', N'334166032
 ', N'1560289   ', NULL, N'SV        ')
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'CBNV      ', 14, 10, N'Cán Bộ Nhân Viên', 70000, 1)
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'K         ', 10, 5, N'Khác', 150000, 0)
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'SV        ', 10, 5, N'Sinh Vien', 100000, 0)
INSERT [dbo].[LOAI NHANVIEN] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'AD        ', N'Admin')
INSERT [dbo].[LOAI NHANVIEN] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'TT        ', N'Thủ Thư')
INSERT [dbo].[NHAN VIEN] ([MaNV], [CaTruc], [TenDangNhap], [MatKhau], [HoTen], [LoginGanNhat], [LoaiNV]) VALUES (N'NV0001    ', 1, N'a         ', N'86f7e437faa5a7fce15d1ddcb9eaeaea377667b8                                                                                                                                                                ', N'pktài', CAST(0xAA3D0B00 AS Date), N'AD        ')
INSERT [dbo].[NHAN VIEN] ([MaNV], [CaTruc], [TenDangNhap], [MatKhau], [HoTen], [LoginGanNhat], [LoaiNV]) VALUES (N'NV0002    ', 2, N'B         ', N'ae4f281df5a5d0ff3cad6371f76d5c29b6d953ec                                                                                                                                                                ', N'HTTAI', CAST(0x523C0B00 AS Date), N'TT        ')
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL021     ', 10, CAST(0x953D0B00 AS Date))
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL022     ', 5, CAST(0x953D0B00 AS Date))
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL023     ', 15, CAST(0x953D0B00 AS Date))
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL001     ', N'NHẬP MÔN LẬP TRÌNH', N'SÁCH', 21)
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL002     ', N'KĨ THUẬT LẬP TRÌNH', N'SÁCH', 8)
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL003     ', N'MẠNG MÁY TÍNH', N'SÁCH', 8)
ALTER TABLE [dbo].[CHI TIET PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU MUON_PHIEU MUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON] CHECK CONSTRAINT [FK_CHI TIET PHIEU MUON_PHIEU MUON]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU MUON_TAI LIEU] FOREIGN KEY([MaTaiLieu])
REFERENCES [dbo].[TAI LIEU] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON] CHECK CONSTRAINT [FK_CHI TIET PHIEU MUON_TAI LIEU]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU MUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA] CHECK CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU MUON]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU TRA] FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PHIEU TRA] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA] CHECK CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU TRA]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU TRA_TAI LIEU] FOREIGN KEY([MaTaiLieu])
REFERENCES [dbo].[TAI LIEU] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA] CHECK CONSTRAINT [FK_CHI TIET PHIEU TRA_TAI LIEU]
GO
ALTER TABLE [dbo].[DOC GIA]  WITH CHECK ADD  CONSTRAINT [FK_DOC GIA_LOAI DOC GIA] FOREIGN KEY([LoaiDG])
REFERENCES [dbo].[LOAI DOC GIA] ([MaLoaiDG])
GO
ALTER TABLE [dbo].[DOC GIA] CHECK CONSTRAINT [FK_DOC GIA_LOAI DOC GIA]
GO
ALTER TABLE [dbo].[NHAN VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN VIEN_LOAI NHANVIEN] FOREIGN KEY([LoaiNV])
REFERENCES [dbo].[LOAI NHANVIEN] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[NHAN VIEN] CHECK CONSTRAINT [FK_NHAN VIEN_LOAI NHANVIEN]
GO
ALTER TABLE [dbo].[NHAP TAI LIEU]  WITH CHECK ADD  CONSTRAINT [FK_NHAP TAI LIEU_TAI LIEU] FOREIGN KEY([MaTLNhap])
REFERENCES [dbo].[TAI LIEU] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[NHAP TAI LIEU] CHECK CONSTRAINT [FK_NHAP TAI LIEU_TAI LIEU]
GO
ALTER TABLE [dbo].[PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU MUON_DOC GIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOC GIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEU MUON] CHECK CONSTRAINT [FK_PHIEU MUON_DOC GIA]
GO
ALTER TABLE [dbo].[PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU MUON_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuMuon])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU MUON] CHECK CONSTRAINT [FK_PHIEU MUON_NHAN VIEN]
GO
ALTER TABLE [dbo].[PHIEU NHAC NHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU NHAC NHO_DOC GIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOC GIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEU NHAC NHO] CHECK CONSTRAINT [FK_PHIEU NHAC NHO_DOC GIA]
GO
ALTER TABLE [dbo].[PHIEU PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU PHAT_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuPhat])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU PHAT] CHECK CONSTRAINT [FK_PHIEU PHAT_NHAN VIEN]
GO
ALTER TABLE [dbo].[PHIEU PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU PHAT_PHIEU MUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PHIEU PHAT] CHECK CONSTRAINT [FK_PHIEU PHAT_PHIEU MUON]
GO
ALTER TABLE [dbo].[PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU TRA_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuTra])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU TRA] CHECK CONSTRAINT [FK_PHIEU TRA_NHAN VIEN]
GO
USE [master]
GO
