
/****** Object:  Database [QL_thuvien]    Script Date: 12/4/2017 9:31:03 PM ******/
IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'QL_thuvien')
BEGIN

CREATE DATABASE [QL_thuvien]
END 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_thuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_thuvien]
GO
/****** Object:  StoredProcedure [dbo].[usp_CapNhatDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_CapNhatDocGia] @MaDG nvarchar(10), @TenDG nvarchar(40), @NgaySinhDG nvarchar(20), @DiaChiDG nvarchar(100), @SDTDG nvarchar(20), @EmailDG nvarchar(30), @CMNDDG nvarchar(20),@MSSVDG nvarchar(20), @MCBDG nvarchar(20), @LoaiDG nvarchar(20)
as
begin
	update [DOC GIA]
	set HoTen = @TenDG, NgaySinh = @NgaySinhDG, DiaChi = @DiaChiDG, Sdt = @SDTDG, Email = @EmailDG, CMND = @CMNDDG, MSSV = @MSSVDG, MCB = @MCBDG, LoaiDG = @LoaiDG
	where MaDocGia = @MaDG
end

GO
/****** Object:  StoredProcedure [dbo].[usp_CapNhatNhanVien]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_CapNhatNhanVien] @MaNV nvarchar(10), @CaTruc nvarchar(40), @TenDangNhap nvarchar(20), @MatKhau char(20), @HoTen nvarchar(100), @LoaiNV nvarchar(20)
as
begin
	update [NHAN VIEN]
	set	CaTruc = @CaTruc, TenDangNhap = @TenDangNhap, MatKhau = @MatKhau, HoTen = @HoTen, LoaiNV = @LoaiNV
	where MaNV = @MaNV
end

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTaiLieu]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_DeleteTaiLieu] @MaTaiLieu nvarchar(50)
as
begin
	delete from [TAI LIEU]
	where MaTaiLieu = @MaTaiLieu
end

GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTaiLieu]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_InsertTaiLieu] @TenTaiLieu nvarchar(50), @HienTrang char(20), @LoaiTaiLieu nvarchar(30), @SoLuong char(5)
as
begin
	Declare @MaTaiLieu char(20)
	exec usp_TimMaTLTiepTheo @MaTaiLieu out
	insert into [TAI LIEU]
	values( @MaTaiLieu, @TenTaiLieu, @HienTrang, @LoaiTaiLieu, @SoLuong)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_LayQuyenNhanVien]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayQuyenNhanVien] @UserName char(40), @Pass char(20), @QuyenNV nvarchar(50) out
as
begin
	select @QuyenNV =  l.TenLoaiNV
	from [NHAN VIEN] nv, [LOAI NHANVIEN] l
	where nv.TenDangNhap = @UserName and nv.MatKhau = @Pass and l.MaLoaiNV = nv.LoaiNV
end
GO
/****** Object:  StoredProcedure [dbo].[usp_LayTenNhanVien]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LayTenNhanVien] @UserName char(40), @Pass char(20), @TenNV nvarchar(50) out
as
begin
	select @TenNV =  nv.HoTen
	from [NHAN VIEN] nv
	where nv.TenDangNhap = @UserName and nv.MatKhau = @Pass
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Login] @username nchar(40), @password nchar(40), @result int out
as
begin
	if exists (select * from [NHAN VIEN]
	where TenDangNhap = @username and MatKhau = @password)
	begin
		Set @result = 1;
		update [NHAN VIEN]
		set LoginGanNhat = GETDATE()
		where TenDangNhap = @username and MatKhau = @password
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchDocGia] @MaDG char(15)
 as
 begin
	select *
	from [DOC GIA]
	where MaDocGia = @MaDG
 end


GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoLoai]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoLoai] @LoaiTaiLieu nvarchar(50)
as
begin
	select * from [TAI LIEU]
	where LoaiTaiLieu = @LoaiTaiLieu
end


GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoMa]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoMa] @MaTaiLieu char(15)
as
begin
	select * from [TAI LIEU]
	where MaTaiLieu = @MaTaiLieu
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchTaiLieuTheoTen]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_SearchTaiLieuTheoTen] @TenTaiLieu nvarchar(50)
as
begin
	select * from [TAI LIEU]
	where TenTaiLieu like '%' + @TenTaiLieu + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ThemDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemDocGia] @TenDG nvarchar(40), @NgaySinhDG nvarchar(20), @DiaChiDG nvarchar(100), @SDTDG nvarchar(20), @EmailDG nvarchar(30), @CMNDDG nvarchar(20),@MSSVDG nvarchar(20), @MCBDG nvarchar(20), @LoaiDG nvarchar(20)
as
begin
	Declare @MaDG nchar(10)
	exec usp_TimMaDGTiepTheo @MaDG out
	insert into [DOC GIA]
	values(@MaDG, @TenDG,@NgaySinhDG, @DiaChiDG, @SDTDG, @EmailDG, @CMNDDG, @MSSVDG, @CMNDDG, @LoaiDG)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_ThemNhanVien]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemNhanVien] @CaTruc nvarchar(40), @TenDangNhap nvarchar(20), @HoTen nvarchar(100), @MatKhau char(20), @LoaiNV nvarchar(20)
as
begin
	Declare @MaNV nchar(10)
	exec usp_TimMaNVTiepTheo @MaNV out
	insert into [NHAN VIEN]
	values(@MaNV, @CaTruc ,@TenDangNhap, @MatKhau, @HoTen, GETDATE(), @LoaiNV)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ThemPhieuMuon]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ThemPhieuMuon] @MaNVLapPhieuMuon nchar(10), @Madocgia nchar(10), @ngaylapphieumuon date
as
begin
	Declare @Mapm nchar(10)
	if exists (select MaDocGia from [DOC GIA] Where MaDocGia = @Madocgia)
	begin
	exec usp_TimMaPhieuMuonTiepTheo @Mapm out
	--if exists (select MaDocGia from [DOC GIA] Where MaDocGia = @Madocgia)

	insert into [PHIEU MUON]

	values(@Mapm,@MaNVLapPhieuMuon ,@Madocgia,@ngaylapphieumuon)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoCMND]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[usp_TimKiemDocGiaTheoCMND] @CMND char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and dg1.CMND = @CMND and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
	where dg.CMND = @CMND
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoHoTen]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_TimKiemDocGiaTheoHoTen] @HoTen nvarchar(100)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and dg1.HoTen like @HoTen and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
	where dg.HoTen like @HoTen
 end


GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMaDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[usp_TimKiemDocGiaTheoMaDocGia] @MaDG char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and dg1.MaDocGia = @MaDG and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
	where dg.MaDocGia = @MaDG
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMSCB]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimKiemDocGiaTheoMSCB] @MSCB char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and dg1.MCB = @MSCB and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
	where dg.MCB = @MSCB
 end

GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemDocGiaTheoMSSV]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[usp_TimKiemDocGiaTheoMSSV] @MSSV char(15)
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and dg1.MSSV = @MSSV and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
	where dg.MSSV = @MSSV
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimKiemTatCaDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimKiemTatCaDocGia]
 as
 begin
	select dg.MaDocGia, dg.HoTen, dg.CMND, dg.LoaiDG, (select sum(ctpm.SoLuongMuon) from [PHIEU MUON] pm, [PHIEU TRA] pt, [DOC GIA] dg1, [CHI TIET PHIEU MUON] ctpm where dg1.MaDocGia = pm.MaDocGia and pm.MaPhieuMuon <> pt.MaPhieuMuon and ctpm.MaPhieuMuon = pm.MaPhieuMuon) as 'So Sach Dang Muon'
	from [DOC GIA] dg
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaDGTiepTheo]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaDGTiepTheo] @MaDocGia varchar(10) out
as
begin
	declare @MaDG nchar(10) = 'DG00001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaDocGia from [DOC GIA] Where MaDocGia = @MaDG)
	begin
		set @idx = @idx + 1
		set @MaDG = 'DG' + REPLICATE('0', 5 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaDocGia = @MaDG
end

GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaNVTiepTheo]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaNVTiepTheo] @MaNV varchar(10) out
as
begin
	declare @MaNhanVien nchar(10) = 'NV0001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaNV from [NHAN VIEN] Where MaNV = @MaNhanVien)
	begin
		set @idx = @idx + 1
		set @MaNhanVien = 'NV' + REPLICATE('0', 4 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaNV = @MaNhanVien
end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaPhieuMuonTiepTheo]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaPhieuMuonTiepTheo] @Maphieumuon nchar(10) out
as 
begin
declare @mapm nchar(10)='PM001'
declare @idx int 
	set @idx = 1
	while exists (select MaPhieuMuon from [PHIEU MUON] Where MaPhieuMuon = @Mapm)
	begin
		set @idx = @idx + 1
		set @Mapm= 'PM' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set  @Maphieumuon=@Mapm
end
GO
/****** Object:  StoredProcedure [dbo].[usp_TimMaTLTiepTheo]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_TimMaTLTiepTheo] @MaTaiLieu varchar(10) out
as
begin
	declare @MaTL nchar(10) = 'TL001'	
	declare @idx int 
	set @idx = 1
	while exists (select MaTaiLieu from [TAI LIEU] Where MaTaiLieu = @MaTL)
	begin
		set @idx = @idx + 1
		set @MaTL = 'TL' + REPLICATE('0', 3 - len(cast(@idx as varchar))) + cast(@idx as varchar)
	end
	Set @MaTaiLieu = @MaTL
end

GO
/****** Object:  StoredProcedure [dbo].[usp_XemAllTaiLieu]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemAllTaiLieu]
as
begin
	select * from [TAI LIEU]
end

GO
/****** Object:  StoredProcedure [dbo].[usp_XemDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemDocGia]
as
begin
	select * from [DOC GIA]
end



GO
/****** Object:  StoredProcedure [dbo].[usp_XemNhanVien]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemNhanVien]
as
begin
	select * from [NHAN VIEN]
end

GO
/****** Object:  StoredProcedure [dbo].[usp_xemPhieuMuon]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_xemPhieuMuon]
as
begin
	select pm.MaDocGia,pm.MaNVLapPhieuMuon,pm.MaPhieuMuon,pm.NgayLapPhieuMuon,ct.HanTra,ct.MaTaiLieu,ct.STTMuon
	 from [PHIEU MUON] pm,[CHI TIET PHIEU MUON] ct
	where pm.MaPhieuMuon=ct.MaPhieuMuon
end

GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuNhacNho]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuNhacNho]
as
begin
	select * from [PHIEU NHAC NHO]
end
GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuPhat]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuPhat]
as
begin
	select * from [PHIEU PHAT]
	select * from [CHI TIET PHIEU PHAT]
end
GO
/****** Object:  StoredProcedure [dbo].[usp_XemPhieuTra]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_XemPhieuTra]
as
begin
	select pt.MaNVLapPhieuTra,pt.MaPhieuMuon,pt.MaPhieuTra,pt.NgayLapPhieuTra,ct.MaDocGia,ct.NgayTra,ct.STTPhieuTra 
	 from [PHIEU TRA] pt,[CHI TIET PHIEU TRA] ct
	where pt.MaPhieuTra=ct.MaPhieuTra
end
GO
/****** Object:  StoredProcedure [dbo].[usp_XoaDocGia]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create proc [dbo].[usp_XoaDocGia] @MaDG char(15)
 as
 begin
	delete from [DOC GIA]
	where MaDocGia = @MaDG
 end

GO
/****** Object:  Table [dbo].[CHI TIET PHIEU MUON]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIET PHIEU MUON](
	[STTMuon] [nchar](10) NOT NULL,
	[MaTaiLieu] [nchar](10) NULL,
	[MaPhieuMuon] [nchar](10) NULL,
	[HanTra] [date] NULL,
 CONSTRAINT [PK_CHI TIET PHIEU MUON_1] PRIMARY KEY CLUSTERED 
(
	[STTMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI TIET PHIEU PHAT]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIET PHIEU PHAT](
	[STTPhieuPhat] [int] NOT NULL,
	[MaPhieuPhat] [nchar](10) NULL,
	[SoNgayQuaHan] [int] NULL,
	[SoTienPhat] [int] NULL,
 CONSTRAINT [PK_CHI TIET PHIEU PHAT] PRIMARY KEY CLUSTERED 
(
	[STTPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI TIET PHIEU TRA]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIET PHIEU TRA](
	[STTPhieuTra] [nchar](10) NOT NULL,
	[MaPhieuTra] [nchar](10) NULL,
	[MaDocGia] [nchar](10) NULL,
	[NgayTra] [date] NULL,
 CONSTRAINT [PK_CHI TIET PHIEU TRA] PRIMARY KEY CLUSTERED 
(
	[STTPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOC GIA]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC GIA](
	[MaDocGia] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Sdt] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[CMND] [nchar](12) NULL,
	[MSSV] [nchar](10) NULL,
	[MCB] [nchar](10) NULL,
	[LoaiDG] [nchar](10) NULL,
 CONSTRAINT [PK_DOC GIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI DOC GIA]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI DOC GIA](
	[MaLoaiDG] [nchar](10) NOT NULL,
	[SoNgayMuonToiDa] [int] NULL,
	[SoSachMuonToiDa] [int] NULL,
	[TenLoaiDG] [nvarchar](50) NULL,
	[PhiThuongNien] [int] NULL,
	[TaiKieuDB] [bit] NULL,
 CONSTRAINT [PK_LOAI DOC GIA] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI NHANVIEN]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI NHANVIEN](
	[MaLoaiNV] [nchar](10) NOT NULL,
	[TenLoaiNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN VIEN]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN VIEN](
	[MaNV] [nchar](10) NOT NULL,
	[CaTruc] [int] NULL,
	[TenDangNhap] [nchar](10) NULL,
	[MatKhau] [nchar](20) NULL,
	[HoTen] [nvarchar](50) NULL,
	[LoginGanNhat] [date] NULL,
	[LoaiNV] [nchar](10) NULL,
 CONSTRAINT [PK_NHAN VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP TAI LIEU]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP TAI LIEU](
	[MaTLNhap] [nchar](10) NULL,
	[SttTLNhap] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [date] NULL,
 CONSTRAINT [PK_NHAP TAI LIEU] PRIMARY KEY CLUSTERED 
(
	[SttTLNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU MUON]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU MUON](
	[MaPhieuMuon] [nchar](10) NOT NULL,
	[MaNVLapPhieuMuon] [nchar](10) NULL,
	[MaDocGia] [nchar](10) NULL,
	[NgayLapPhieuMuon] [date] NULL,
 CONSTRAINT [PK_PHIEU MUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU NHAC NHO]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU NHAC NHO](
	[MaPhieuNN] [nchar](10) NOT NULL,
	[STTMuon] [nchar](10) NOT NULL,
	[ThoiGianConLai] [int] NULL,
 CONSTRAINT [PK_PHIEU NHAC NHO] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU PHAT]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU PHAT](
	[MaPhieuPhat] [nchar](10) NOT NULL,
	[MaNVLapPhieuPhat] [nchar](10) NULL,
	[MaPhieuMuon] [nchar](10) NULL,
	[NgayLapPhieuPhat] [date] NULL,
 CONSTRAINT [PK_PHIEU PHAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU TRA]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU TRA](
	[MaPhieuTra] [nchar](10) NOT NULL,
	[MaPhieuMuon] [nchar](10) NULL,
	[NgayLapPhieuTra] [date] NULL,
	[MaNVLapPhieuTra] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEU TRA] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI LIEU]    Script Date: 12/4/2017 9:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI LIEU](
	[MaTaiLieu] [nchar](10) NOT NULL,
	[TenTaiLieu] [nvarchar](200) NULL,
	[HienTrang] [bit] NULL,
	[LoaiTaiLieu] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHI TIET PHIEU MUON] ([STTMuon], [MaTaiLieu], [MaPhieuMuon], [HanTra]) VALUES (N'CTM01     ', N'TL001     ', N'PM001     ', CAST(0x873D0B00 AS Date))
INSERT [dbo].[CHI TIET PHIEU MUON] ([STTMuon], [MaTaiLieu], [MaPhieuMuon], [HanTra]) VALUES (N'CTM02     ', N'TL002     ', N'PM001     ', CAST(0x873D0B00 AS Date))
INSERT [dbo].[CHI TIET PHIEU MUON] ([STTMuon], [MaTaiLieu], [MaPhieuMuon], [HanTra]) VALUES (N'CTM03     ', N'TL003     ', N'PM001     ', CAST(0x873D0B00 AS Date))
INSERT [dbo].[CHI TIET PHIEU TRA] ([STTPhieuTra], [MaPhieuTra], [MaDocGia], [NgayTra]) VALUES (N'CTT01     ', N'PT01      ', N'DG00041   ', CAST(0x923D0B00 AS Date))
INSERT [dbo].[CHI TIET PHIEU TRA] ([STTPhieuTra], [MaPhieuTra], [MaDocGia], [NgayTra]) VALUES (N'CTT02     ', N'PT02      ', N'DG00042   ', CAST(0x923D0B00 AS Date))
INSERT [dbo].[CHI TIET PHIEU TRA] ([STTPhieuTra], [MaPhieuTra], [MaDocGia], [NgayTra]) VALUES (N'CTT03     ', N'PT03      ', N'DG00043   ', CAST(0x923D0B00 AS Date))
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00001   ', N'NGUYỄN THỊ THÚY KIỀU
', CAST(0xFA1C0B00 AS Date), N'241/213 LÍ THÁI TỔ, Q3, TP HCM', N'01649824548
       ', N'thuykieu@gmail.com', N'023177128
 ', N'1560286
 ', NULL, N'SV        ')
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00002   ', N'PHẠM TẤN KIỀU
', CAST(0x7D1E0B00 AS Date), N'123/21 CMT8,Q8, TP HCM', N'01267946246
       ', N'tankieu@gmail.com', N'145437733
 ', N'1560287   ', NULL, N'SV        ')
INSERT [dbo].[DOC GIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Sdt], [Email], [CMND], [MSSV], [MCB], [LoaiDG]) VALUES (N'DG00003   ', N'HOÀNG ĐÌNH TUẤN KIỆT
', CAST(0x50170B00 AS Date), N'12/42 NGUYỄN VĂN CỪ,Q5,TPHCM', N'0908420792
        ', N'tuankiet1@gmail.com', N'250533628
 ', N'1560288   ', NULL, N'SV        ')
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'CBNV      ', 14, 10, N'Cán Bộ Nhân Viên', 70000, 1)
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'K         ', 10, 5, N'Khác', 150000, 0)
INSERT [dbo].[LOAI DOC GIA] ([MaLoaiDG], [SoNgayMuonToiDa], [SoSachMuonToiDa], [TenLoaiDG], [PhiThuongNien], [TaiKieuDB]) VALUES (N'SV        ', 10, 5, N'Sinh Vien', 100000, 1)
INSERT [dbo].[LOAI NHANVIEN] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'AD        ', N'Admin')
INSERT [dbo].[LOAI NHANVIEN] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'TT        ', N'Thủ Thư')
INSERT [dbo].[NHAN VIEN] ([MaNV], [CaTruc], [TenDangNhap], [MatKhau], [HoTen], [LoginGanNhat], [LoaiNV]) VALUES (N'NV0001    ', 1, N'a         ', N'a                   ', N'pktài', CAST(0x9A3D0B00 AS Date), N'AD        ')
INSERT [dbo].[NHAN VIEN] ([MaNV], [CaTruc], [TenDangNhap], [MatKhau], [HoTen], [LoginGanNhat], [LoaiNV]) VALUES (N'NV0002    ', 2, N'B         ', N'B                   ', N'HTTAI', CAST(0x903D0B00 AS Date), N'TT        ')
INSERT [dbo].[NHAN VIEN] ([MaNV], [CaTruc], [TenDangNhap], [MatKhau], [HoTen], [LoginGanNhat], [LoaiNV]) VALUES (N'NV0003    ', 2, N'C         ', N'C                   ', N'NDQUYET', CAST(0x443D0B00 AS Date), N'TT        ')
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SttTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL021     ', N'TLN01     ', 10, CAST(0x953D0B00 AS Date))
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SttTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL022     ', N'TLN02     ', 5, CAST(0x953D0B00 AS Date))
INSERT [dbo].[NHAP TAI LIEU] ([MaTLNhap], [SttTLNhap], [SoLuong], [NgayNhap]) VALUES (N'TL023     ', N'TLN03     ', 15, CAST(0x953D0B00 AS Date))
INSERT [dbo].[PHIEU MUON] ([MaPhieuMuon], [MaNVLapPhieuMuon], [MaDocGia], [NgayLapPhieuMuon]) VALUES (N'PM001     ', N'NV0002    ', N'DG00001   ', CAST(0x7D3D0B00 AS Date))
INSERT [dbo].[PHIEU MUON] ([MaPhieuMuon], [MaNVLapPhieuMuon], [MaDocGia], [NgayLapPhieuMuon]) VALUES (N'PM002     ', N'NV0002    ', N'DG00001   ', CAST(0x7D3D0B00 AS Date))
INSERT [dbo].[PHIEU MUON] ([MaPhieuMuon], [MaNVLapPhieuMuon], [MaDocGia], [NgayLapPhieuMuon]) VALUES (N'PM003     ', N'NV0002    ', N'DG00001   ', CAST(0x7D3D0B00 AS Date))
INSERT [dbo].[PHIEU NHAC NHO] ([MaPhieuNN], [STTMuon], [ThoiGianConLai]) VALUES (N'PNN001    ', N'CTM01     ', 0)
INSERT [dbo].[PHIEU NHAC NHO] ([MaPhieuNN], [STTMuon], [ThoiGianConLai]) VALUES (N'PNN002    ', N'CTM02     ', 0)
INSERT [dbo].[PHIEU NHAC NHO] ([MaPhieuNN], [STTMuon], [ThoiGianConLai]) VALUES (N'PNN003    ', N'CTM03     ', 0)
INSERT [dbo].[PHIEU PHAT] ([MaPhieuPhat], [MaNVLapPhieuPhat], [MaPhieuMuon], [NgayLapPhieuPhat]) VALUES (N'MPP01     ', N'NV0002    ', N'PM006     ', CAST(0x933D0B00 AS Date))
INSERT [dbo].[PHIEU PHAT] ([MaPhieuPhat], [MaNVLapPhieuPhat], [MaPhieuMuon], [NgayLapPhieuPhat]) VALUES (N'MPP02     ', N'NV0002    ', N'PM007     ', CAST(0x933D0B00 AS Date))
INSERT [dbo].[PHIEU PHAT] ([MaPhieuPhat], [MaNVLapPhieuPhat], [MaPhieuMuon], [NgayLapPhieuPhat]) VALUES (N'MPP03     ', N'NV0002    ', N'PM008     ', CAST(0x933D0B00 AS Date))
INSERT [dbo].[PHIEU TRA] ([MaPhieuTra], [MaPhieuMuon], [NgayLapPhieuTra], [MaNVLapPhieuTra]) VALUES (N'PT01      ', N'PM001     ', CAST(0x923D0B00 AS Date), N'NV0003    ')
INSERT [dbo].[PHIEU TRA] ([MaPhieuTra], [MaPhieuMuon], [NgayLapPhieuTra], [MaNVLapPhieuTra]) VALUES (N'PT02      ', N'PM002     ', CAST(0x923D0B00 AS Date), N'NV0003    ')
INSERT [dbo].[PHIEU TRA] ([MaPhieuTra], [MaPhieuMuon], [NgayLapPhieuTra], [MaNVLapPhieuTra]) VALUES (N'PT03      ', N'PM003     ', CAST(0x923D0B00 AS Date), N'NV0003    ')
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [HienTrang], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL001     ', N'NHẬP MÔN LẬP TRÌNH', 1, N'SÁCH', 10)
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [HienTrang], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL002     ', N'KĨ THUẬT LẬP TRÌNH', 1, N'SÁCH', 10)
INSERT [dbo].[TAI LIEU] ([MaTaiLieu], [TenTaiLieu], [HienTrang], [LoaiTaiLieu], [SoLuong]) VALUES (N'TL003     ', N'MẠNG MÁY TÍNH', 1, N'SÁCH', 10)
ALTER TABLE [dbo].[CHI TIET PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU MUON_PHIEU MUON1] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON] CHECK CONSTRAINT [FK_CHI TIET PHIEU MUON_PHIEU MUON1]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU MUON_TAI LIEU] FOREIGN KEY([MaTaiLieu])
REFERENCES [dbo].[TAI LIEU] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU MUON] CHECK CONSTRAINT [FK_CHI TIET PHIEU MUON_TAI LIEU]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU PHAT]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU PHAT_PHIEU PHAT] FOREIGN KEY([MaPhieuPhat])
REFERENCES [dbo].[PHIEU PHAT] ([MaPhieuPhat])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU PHAT] CHECK CONSTRAINT [FK_CHI TIET PHIEU PHAT_PHIEU PHAT]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU TRA_DOC GIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOC GIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA] CHECK CONSTRAINT [FK_CHI TIET PHIEU TRA_DOC GIA]
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU TRA] FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PHIEU TRA] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CHI TIET PHIEU TRA] CHECK CONSTRAINT [FK_CHI TIET PHIEU TRA_PHIEU TRA]
GO
ALTER TABLE [dbo].[DOC GIA]  WITH CHECK ADD  CONSTRAINT [FK_DOC GIA_LOAI DOC GIA] FOREIGN KEY([LoaiDG])
REFERENCES [dbo].[LOAI DOC GIA] ([MaLoaiDG])
GO
ALTER TABLE [dbo].[DOC GIA] CHECK CONSTRAINT [FK_DOC GIA_LOAI DOC GIA]
GO
ALTER TABLE [dbo].[NHAN VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN VIEN_LOAI NHANVIEN] FOREIGN KEY([LoaiNV])
REFERENCES [dbo].[LOAI NHANVIEN] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[NHAN VIEN] CHECK CONSTRAINT [FK_NHAN VIEN_LOAI NHANVIEN]
GO
ALTER TABLE [dbo].[NHAP TAI LIEU]  WITH CHECK ADD  CONSTRAINT [FK_NHAP TAI LIEU_TAI LIEU] FOREIGN KEY([MaTLNhap])
REFERENCES [dbo].[TAI LIEU] ([MaTaiLieu])
GO
ALTER TABLE [dbo].[NHAP TAI LIEU] CHECK CONSTRAINT [FK_NHAP TAI LIEU_TAI LIEU]
GO
ALTER TABLE [dbo].[PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU MUON_DOC GIA1] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOC GIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEU MUON] CHECK CONSTRAINT [FK_PHIEU MUON_DOC GIA1]
GO
ALTER TABLE [dbo].[PHIEU MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU MUON_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuMuon])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU MUON] CHECK CONSTRAINT [FK_PHIEU MUON_NHAN VIEN]
GO
ALTER TABLE [dbo].[PHIEU NHAC NHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU NHAC NHO_CHI TIET PHIEU MUON1] FOREIGN KEY([STTMuon])
REFERENCES [dbo].[CHI TIET PHIEU MUON] ([STTMuon])
GO
ALTER TABLE [dbo].[PHIEU NHAC NHO] CHECK CONSTRAINT [FK_PHIEU NHAC NHO_CHI TIET PHIEU MUON1]
GO
ALTER TABLE [dbo].[PHIEU PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU PHAT_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuPhat])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU PHAT] CHECK CONSTRAINT [FK_PHIEU PHAT_NHAN VIEN]
GO
ALTER TABLE [dbo].[PHIEU PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU PHAT_PHIEU MUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PHIEU PHAT] CHECK CONSTRAINT [FK_PHIEU PHAT_PHIEU MUON]
GO
ALTER TABLE [dbo].[PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU TRA_NHAN VIEN] FOREIGN KEY([MaNVLapPhieuTra])
REFERENCES [dbo].[NHAN VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU TRA] CHECK CONSTRAINT [FK_PHIEU TRA_NHAN VIEN]
GO
ALTER TABLE [dbo].[PHIEU TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU TRA_PHIEU MUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEU MUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PHIEU TRA] CHECK CONSTRAINT [FK_PHIEU TRA_PHIEU MUON]
GO
USE [master]
GO
